@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Raleway:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: Raleway, sans-serif;
    font-weight: 100;
    color: white;
    background-color: rgb(62, 63, 63) ;
    letter-spacing: 1px;
}

/* headings */

h1, h2 {
    font-family: Nunito, sans-serif;
    text-transform: uppercase;
    color: white;
}
header{
    position: fixed;
    width: 100%;
    margin-top: 0px;
}

/* logo */

#logo1 {
    text-align: center;
    font-size: 250%;
    padding-top: 20px;
    float: left;
    width: 100%;
    background-color: rgb(41, 43, 43);
    color: rgb(176, 179, 11);
    letter-spacing: 12px;


}
#logo2 {
    text-align: center;
    float:left;
    width: 100%;
    font-size: 200%;
    background-color: black;
    letter-spacing: 12px;
    
}

/* navigation bar */

#navbar {
    font-size: 100%;
    letter-spacing: 2px; 
    word-spacing: 10px;
    background-color: rgb(71, 71, 70); 
    text-align: center;
    border-bottom: 2px solid rgb(41, 43, 43);

  
}

#navbar li {
    list-style-type: none;
    float: none;
    display: inline-block;
    padding: 5pxs 0 5px 0;
}

#navbar a {
    text-decoration: none;
    color: white;
}

#navbar a:hover {
    color: rgb(176, 179, 11);
}
 
.active {
    color: rgb(176, 179, 11);
}

/* main image */
#image {
    background: url('../images/pexels-waldemar-brandt-2290070.jpg') no-repeat center center;
    background-size: cover;
    height: 600px;
}

/* Introduction */

#intro {
    text-align: center;
    letter-spacing: 4px;
    margin-top: 60px;
    margin-bottom: 60px;
}

/* Opening hours and background image*/

#hours{
    width: 100%;
    height: 500px;
    padding-top: 50px;
    margin: auto;
    display: flex;    
    justify-content: center;
    text-align: center;
    text-shadow: 2px 2px black;
    font-family: sans-serif;


}

#cont-img{
    background: url('../images/pexels-cottonbro-3298637.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 600px;
    padding: 10px 0 10px 0;
    font-size: 120%;
    color: white;

}

/* Takeaway text and images */

#takeaway {
    text-align: center;
    letter-spacing: 4px;
    margin-top: 60px;
}

#pic1 {
    float: left;
    height: 350px;
    width: 45%;
    margin: 40px 0px 0px 40px;
    padding-left: 20px;
    
}

#pic2 {
    float: right;
    height: 740px;
    width: 45%;
    margin: 40px 40px 40px 0px;
    padding-right: 20px;
}

#pic3 {
    float: left;
    height: 350px;
    width: 45%;
    margin: 40px 0px 0px 40px;
    padding-left: 20px;
}